.foodDetails {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    padding: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    z-index: 2000;
  }
  
  .foodDetails img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .backButton {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .backButton:hover {
    background-color: #0056b3;
  }
  .loadingDiv {
    width: 100vw;
    height: 100vh;
    padding: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
  }