.AiBox{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(164, 164, 164);
  }
.subtitle{
    font-size:small;
    font-weight: bold;
    padding: 5px 10px;
    color: rgb(120, 118, 118);
    font-style: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
.Airesult{
    width: 100%;
    min-height: 2.5cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #efefef;
    border-radius: 10px;
    padding: 10px 10px;
    position: relative;
}
.logo{
    width: 0.5cm;
    height: 0.5cm;
    background-image: url('./images/gemini-color.svg');
    background-size: cover;
    background-color: rgb(255, 255, 255);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: rotate360 2s linear infinite;
    
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(0.8);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.loadingLine {
    height: 14px;
    background: linear-gradient(100deg, #5a7bb4 30%, #9b9fa7 50%, #939dad 70%, #5a7bb4 100%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 5px;
    margin-bottom: 10px;
}

.short {
    width: 60%;
    margin-bottom: 0px;
    animation-delay: 0s;
}

.medium {
    width: 80%;
    animation-delay: 0.2s;
}

.long {
    width: 100%;
    animation-delay: 0.4s;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.result{
    animation: fadeIn 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 100%;
    min-height: 100%;
    font-weight: 500;
    /* overflow-y: auto; */
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.arrow{
    width: 1cm;
    height:2cm;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seemore{
    font-size: 9px;
    color: rgb(79, 79, 79);
    cursor: pointer;
    background-color: rgb(241, 241, 241);
    padding: 2px 4px;
    border-radius: 10px;
    text-transform: lowercase;
}